.itsa-docviewer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.itsa-docviewer-full-screen {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    background-color: rgb(130, 130, 130);
    background-color: rgba(130, 130, 130, 0.6);
    position: absolute;
    top: 2px;
    left: 2px;
    cursor: default;
    z-index: 1;
    color: #FFF;
}

.itsa-docviewer-full-screen:hover {
    background-color: rgb(130, 130, 130);
}

.itsa-docviewer-full-screen::before {
    content: "\2927";
    font-size: 50px;
    position: absolute;
    left: 6px;
    bottom: 0;
    font-family: helvetica;
}

.itsa-docviewer-full-screen::after {
    content: "\2929";
    font-size: 50px;
    position: absolute;
    left: 6px;
    bottom: -2px;
    font-family: helvetica;
}
